# Variáveis Numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto.
- A média ponderada da faixa salarial da escola.

In [4]:
seguranca = 5
sal_seg = 3000

docente = 16
sal_doc = 6000

diretoria = 1
sal_diret = 12500

Quantidade total de empregados:

In [3]:
total_emp = seguranca + docente + diretoria
total_emp

22

Diferença entre os salários:

In [5]:
dif_salario = sal_diret - sal_seg
dif_salario

9500

Média ponderada:

In [6]:
media = (seguranca * sal_seg + docente * sal_doc + diretoria * sal_diret) / (total_emp)
media

5613.636363636364